---
- name: hostid setup on Linux
  block:
    # copy sethostid
    - copy:
        src: 'bin/{{ item }}'
        dest: '/usr/local/bin/{{ item }}'
        owner: root
        group: root
        mode: 0755
      with_items:
        - sethostid

    # check hostid file is present
    - name: check that {{ sys_hostid_file }} exists
      stat:
        path: '{{ sys_hostid_file }}'
      register: t_sys_hostid_file

    # create hostid file if missing
    - name: create {{ sys_hostid_file }}
      shell: /usr/local/bin/sethostid
      when: t_sys_hostid_file.stat.exists == False

  when: ansible_facts.system == 'Linux'
