---

- include_tasks: context.yml

- block:

    - include_tasks: sys_directories.yml

    - include_tasks: pkg_repositories.yml

    - include_tasks: packages.yml

    - include_tasks: specific_hardware.yml

    - include_tasks: network.yml

    - include_tasks: hostid.yml

    - include_tasks: update.yml

    - include_tasks: sysctls.yml

    - include_tasks: groups.yml

    - include_tasks: users.yml

    - include_tasks: sudoers.yml

    - include_tasks: systemd.yml

    - include_tasks: fstab.yml

    - include_tasks: zfs.yml

    - include_tasks: sshd.yml

    - include_tasks: ntpd.yml

    - include_tasks: logrotate.yml

    - include_tasks: grub.yml

    - include_tasks: autofs.yml

    - include_tasks: router.yml

    - include_tasks: firewall.yml

    - include_tasks: tmp.yml

  when: ansible_facts.system == 'Linux'
