---

- name: install ntpd packages
  package:
    name: '{{ sys_ntpd_packages }}'
    state: 'present'
  register: sys_ntpd_install


- name: set ntpd servers
  lineinfile:
    path: "{{ sys_ntpd_conf_file }}"
    regexp: "^{{ item.key }} "
    line: "{ item.key }} {{ item.value }}"
    state: "{{ item.state | d('present') }}"
    backrefs: "{{ item.backrefs | d(false) }}"
  loop: "{{ sys_ntpd_conf_entries }}"
  register: t_sys_ntpd_conf

# FIXME: manage sys_ntpd_servers

# - name: set keys file content
#   # FIXME
#   register: chrony_keys_status

- name: enable ntpd service
  service:
    name: "{{ sys_ntpd_service }}"
    enabled: yes
    state: started
  register: t_sys_ntpd_service

- name: restart service
  service:
    name: "{{ sys_ntpd_service }}"
    state: restarted
  when: t_sys_ntpd_conf.changed and not t_sys_ntpd_service.changed
