---

- name: compute base package list
  set_fact:
    sys_computed_packages: "{{ \
      (sys_packages['common']['base'] | d([])) \
      + (sys_packages['common'][ansible_facts.distribution] | d([])) \
      + (sys_packages['common'][ansible_facts.distribution + '_' + ansible_facts.distribution_version] | d([])) \
      + (sys_packages['common'][ansible_facts.distribution + '_' + ansible_facts.architecture] | d([])) \
      + (sys_packages[host_type]['base'] | d([])) \
      + (sys_packages[host_type][ansible_facts.distribution] | d([])) \
      + (sys_packages[host_type][ansible_facts.distribution + '_' + ansible_facts.distribution_version] | d([])) \
      + (sys_packages[host_type][ansible_facts.distribution + '_' + ansible_facts.architecture] | d([])) \
    }}"

- name: add extra pack to package list
  set_fact:
    sys_computed_packages: "{{ \
      sys_computed_packages  \
      + (sys_packages['extra']['base'] | d([])) \
      + (sys_packages['extra'][ansible_facts.distribution] | d([])) \
      + (sys_packages['extra'][ansible_facts.distribution + '_' + ansible_facts.distribution_version] | d([])) \
      + (sys_packages['extra'][ansible_facts.distribution + '_' + ansible_facts.architecture] | d([])) \
    }}"
  when: want_sys_extra

- name: add developer pack to package list
  set_fact:
    sys_computed_packages: "{{ \
      sys_computed_packages  \
      + (sys_packages['developer']['base'] | d([])) \
      + (sys_packages['developer'][ansible_facts.distribution] | d([])) \
      + (sys_packages['developer'][ansible_facts.distribution + '_' + ansible_facts.distribution_version] | d([])) \
      + (sys_packages['developer'][ansible_facts.distribution + '_' + ansible_facts.architecture] | d([])) \
    }}"
  when: want_sys_developer


- block:
    - name: apt based update
      apt:
        upgrade: "yes"
        update_cache: yes
        cache_valid_time: "{{ sys_packages_cache_ttl }}"

    - name: "apt install sys packages"
      apt:
        name: "{{ sys_computed_packages }}"
        state: latest
        update_cache: yes
        cache_valid_time: "{{ sys_packages_cache_ttl }}"
        autoremove: yes

  when: ansible_facts.pkg_mgr == 'apt'
