---

- block:

    - block:
        - name: get dpkg foreign architectures
          shell: dpkg --print-foreign-architectures
          changed_when: false
          register: dpkg_foreign_architectures

        - block:
            - name: dpkg add i386 architecture
              shell: dpkg --add-architecture i386
            - name: refresh apt cache
              apt:
                cache_valid_time: 0
                update_cache: yes
          when: dpkg_foreign_architectures.stdout is not match('i386')

      when: ansible_facts.architecture in ['x86_64', "amd64"] and want_sys_i386_architecture

    - name: install apt prereqs
      ansible.builtin.apt:
        name: "{{ system_apt_prereqs }}"
        state: latest
        update_cache: yes
        cache_valid_time: "{{ sys_packages_cache_ttl }}"

    - ansible.builtin.apt_repository:
        repo: "{{ item.repo }}"
        filename: "{{ item.filename }}"
        state: present
        update_cache: yes
      with_items:
        - filename: "ubuntu"
          repo: "deb http://archive.ubuntu.com/ubuntu/ {{ ansible_facts.lsb.codename }} main restricted"
        - filename: "ubuntu"
          repo: "deb http://archive.ubuntu.com/ubuntu/ {{ ansible_facts.lsb.codename }}-updates main restricted"
        - filename: "ubuntu"
          repo: "deb http://archive.ubuntu.com/ubuntu/ {{ ansible_facts.lsb.codename }} universe"
        - filename: "ubuntu"
          repo: "deb http://archive.ubuntu.com/ubuntu/ {{ ansible_facts.lsb.codename }}-updates universe"
        - filename: "ubuntu"
          repo: "deb http://archive.ubuntu.com/ubuntu/ {{ ansible_facts.lsb.codename }} multiverse"
        - filename: "ubuntu"
          repo: "deb http://archive.ubuntu.com/ubuntu/ {{ ansible_facts.lsb.codename }}-updates multiverse"
        - filename: "ubuntu"
          repo: "deb http://archive.ubuntu.com/ubuntu/ {{ ansible_facts.lsb.codename }}-backports main restricted universe multiverse"
        - filename: "ubuntu"
          repo: "deb http://security.ubuntu.com/ubuntu {{ ansible_facts.lsb.codename }}-security main restricted"
        - filename: "ubuntu"
          repo: "deb http://security.ubuntu.com/ubuntu {{ ansible_facts.lsb.codename }}-security universe"
        - filename: "ubuntu"
          repo: "deb http://security.ubuntu.com/ubuntu {{ ansible_facts.lsb.codename }}-security multiverse"
        # - "deb http://archive.canonical.com/ubuntu {{ ansible_facts.lsb.codename }} partner
      when: ansible_facts.architecture in ['x86_64', "amd64"]

    - ansible.builtin.apt_repository:
        repo: "{{ item.repo }}"
        filename: "{{ item.filename }}"
        state: present
        update_cache: yes
      with_items:
        - filename: "ports_ubuntu_com_ubuntu_ports"
          repo: "deb http://ports.ubuntu.com/ubuntu-ports {{ ansible_facts.lsb.codename }} main restricted universe multiverse"
        # - "deb-src http://ports.ubuntu.com/ {{ ansible_facts.lsb.codename }} main restricted universe multiverse"
        - filename: "ports_ubuntu_com_ubuntu_ports"
          repo: "deb http://ports.ubuntu.com/ubuntu-ports {{ ansible_facts.lsb.codename }}-updates main restricted universe multiverse"
        # - "deb-src http://ports.ubuntu.com/ {{ ansible_facts.lsb.codename }}-updates main restricted universe multiverse"
        - filename: "ports_ubuntu_com_ubuntu_ports"
          repo: "deb http://ports.ubuntu.com/ubuntu-ports {{ ansible_facts.lsb.codename }}-security main restricted universe multiverse"
        # - "deb-src http://ports.ubuntu.com/ {{ ansible_facts.lsb.codename }}-security main restricted universe multiverse"
        - filename: "ports_ubuntu_com_ubuntu_ports"
          repo: "deb http://ports.ubuntu.com/ubuntu-ports {{ ansible_facts.lsb.codename }}-backports main restricted universe multiverse"
        # - "deb-src http://ports.ubuntu.com/ {{ ansible_facts.lsb.codename }}-backports main restricted universe multiverse"
      when: ansible_facts.architecture in ['aarch64']

  when: ansible_facts.distribution == 'Ubuntu'
