---

- include_tasks: _sysctl.yml
  loop: "{{ sys_router_sysctl_ipv4 }}"
  vars:
    _sysctl_conf: "{{ sys_sysctl_conf }}"
    _sysctl_conf_d: "{{ sys_sysctl_conf_d }}"
    _sysctl:
      name: "{{ item.name }}"
      value: "{{ ((is_router | d(false)) and ansible_facts.default_ipv4) | ternary(item.value_on, item.value_off) }}"
      order: 20
      category: routing


- include_tasks: _sysctl.yml
  loop: "{{ sys_router_sysctl_ipv6 }}"
  vars:
    _sysctl_conf: "{{ sys_sysctl_conf }}"
    _sysctl_conf_d: "{{ sys_sysctl_conf_d }}"
    _sysctl:
      name: "{{ item.name }}"
      value: "{{ ((is_router | d(false)) and ansible_facts.default_ipv6) | ternary(item.value_on, item.value_off) }}"
      order: 20
      category: routing
