---

- name: "configure zfs on {{ ansible_facts.distribution + '_' + ansible_facts.distribution_release}}"
  include_tasks:
    file: "{{ item }}"
  vars:
    tasks_files:
      files:
        - "zfs_{{ ansible_facts.distribution + '_' + ansible_facts.distribution_release }}.yml"
        - "zfs_{{ ansible_facts.system }}.yml"
        - "zfs_{{ ansible_facts.os_family }}.yml"
        - "zfs_{{ ansible_facts.distribution }}.yml"
  loop: "{{ q('first_found', tasks_files, errors='ignore') }}"
